# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# Temporary files
tmp/
temp/

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Other
*.swp
*.bak
*.tmp
